<div class="modal-header">
  <h4 class="modal-title">
    Editar Registro
    <%= label_cd(@registro.cd) %>
  </h4>
</div>

<%= simple_form_for @registro, remote: false do |f| %>
  <div class="modal-body">

    <div class="form-row">
      <div class="col-md-8">
        <div class="well vertical card-text">

          <%= f.input :descricao, label: 'Descrição' %>

          <div class="form-row">
            <div class="col-md-6">
              <%= f.input :data %>
            </div>
            <div class="col-md-6">
              <%= f.input :valor, as: :currency, input_html: { value: curr(@registro.valor) } %>
            </div>
          </div>

        </div>
      </div>
      <div class="col-md-4">
        <div class="well card-text">
          <%= f.association :conta, label_method: :nome %>
          <%= f.association :categoria, collection: Categoria.por_cd(@registro.cd).to_select %>
        </div>
      </div>
    </div>

    <hr>

    <div class="form-row my-3">
      <div class="col-md-8">
        <div class="well vertical card-text">
          <div class="form-row">
            <div class="col-md-6">
              <%= f.input :recorrencia,
                          label: "Recorrência",
                          collection: [%w(Única U), %w(Mensal M), %w(Parcelas P)] %>
            </div>
            <div class="col-md-3">
              <%= f.input :parcela %>
            </div>
            <div class="col-md-3">
              <%= f.input :parcelas %>
            </div>
          </div>
        </div>
      </div>

      <div class="col-md-4">
        <%= f.input :cd, as: :cd, label: false, input_html: { checked: @registro.receita? } %>
        <%= f.input :pago, as: :pago, label: false %>
      </div>

    </div>

  </div>

  <div class="modal-footer">

    <%= link_to icon(:trash, 'Apagar Registro'),
          @registro,
          method: :delete,
          data: { confirm: 'Tem certeza?' },
          class: 'btn btn-sm text-danger' %>

    <%= link_to icon(:sync, "Duplicar Registro"),
                duplicate_registro_path(@registro),
                method: 'POST',
                data: { confirm: "Confirma Duplicação?" },
                class: 'btn btn-sm text-primary' %>

    <button type="button" class="btn btn-light ml-auto" data-dismiss="modal">Fechar</button>
    <%= f.submit "Salvar Registro", class: 'btn btn-primary' %>
  </div>
<% end %>
